// Variables Quasar SCSS (& Sass)
// ------------------------------------------------ --
// Para personalizar la apariencia de esta aplicación, puede anular
// las variables Sass/SCSS encontradas en los archivos fuente Sass/SCSS de Quasar.

// Consulte la documentación para obtener una lista completa de las variables de Quasar

// Sus propias variables (que se declaran aquí) y las propias de Quasar
// unos estarán disponibles de fábrica en sus archivos .vue/.scss/.sass

// Es muy recomendable cambiar los colores por defecto
// para que coincida con la marca de su aplicación.
// Sugerencia: use el "Generador de temas" en el sitio web de documentación de Quasar.

$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
